doctype html
html
  head
    title Slackの #{community} に参加しましょう!
    style.
      body {
        padding: 50px;
      }
      input {
        font-size: 24px;
        width: 400px;
      }
  body
    h1 Slackの #{community} コミュニティに参加しましょう!
    p #{description}
    form(method="POST", action="/invite")#join-form
      input(type="text", name="email", placeholder="招待用メールアドレスを入力してください")#slack-email
      button(class="btn", data-action="/invite") 招待メールを送る
    script.
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email')
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
      });
